body {
    font-family: 'Satoshi', sans-serif;
  }
  
  article {
    margin-top: 50px;
  }

  ul.articles li {
    margin-bottom: 10px;
    list-style: none;

  }
  
  article h2 {
    margin-bottom: 10px;
  }
  
  article p {
    line-height: 1.5;
  }
  